**pycache**/
*.py[cod]
*$py.class
venv/
.venv/
env/
ENV/
.vscode/
.idea/
.ipynb_checkpoints/
*.log
*.tmp
*.temp
*.bak
dados/**/*.csv
dados/**/*.xlsx
dados/**/*.xls
dados/**/*.parquet
dados/**/*.feather
dados/**/*.json


# Mantendo a estrutura das pastas:
!dados/.gitkeep
!dados/enem/.gitkeep
!dados/simulado/.gitkeep
resultados/**
!resultados/.gitkeep
!resultados/enem_2009/.gitkeep
!resultados/simulado/.gitkeep
*.png
*.jpg
*.jpeg
*.svg
*.pdf
*.zip
*.rar
*.7z
.DS_Store
Thumbs.db
*.pkl
*.joblib
*.pickle
*.h5
*.pt
*.pth